<footer>
    <!-- Footer Top -->
    <div class="footer_top">
        <div class="container">
            <div class="row">
                <div id="about_us" class="col-md-4 abt_sec">
                    <h2 class="foot_title"> Acerca de </h2>
                    <p>
                    DANTE ESTUDIO INMOBILIARIO es un equipo de trabajo profesional y joven con el entusiasmo de poder marcar un nuevo formato dentro del rubro inmobiliario.
                    <br>
                    Hoy nos abocamos a las operaciones relacionadas con la compra y venta de inmuebles con muchísima seriedad, responsabilidad y profesionalismo.
                    </p>

                    <div class="spacer-20"></div>

                    <p>
                    Estamos para acompañarte dentro del mundo inmobiliario en el proceso que conlleva cualquier operación, para eso es que nos preparamos y capacitamos constantemente.
                    <br>
                    Brindamos un servicio de calidad basado en la confianza y en el respeto a nuestros clientes, estamos preparados para ayudarte.
                    <br>
                    Somos un equipo capaz de cumplir con la satisfacción de todas las necesidades que se plantean dentro de las operaciones inmobiliarias.
                    </p>
                </div>
                <!-- Contact Info -->
                <div class="col-md-4">
                    <h2 class="foot_title">
                      Contacto
                    </h2>
                    <ul class="cont_info">
                        <li><i class="fa fa-map-marker"></i>
                            <p>Diag. 74 #2083 e/16 y 56</p>
                        </li>
                        <li><i class="fa fa-phone"></i>
                            <p> Tel: <a href="tel:2214230180"> (221) 4230180  </a> </p>
                        </li>
                        <li><i class="fa fa-mobile"></i>
                          <p> Cel:
                            <a href="tel:221155730908"> (221) 15 573 0908  </a> |
                            <a href="tel:221155059054"> (221) 15 504 9054  </a> |
                            <a href="tel:221156165842"> (221) 15 616 5842  </a>
                          </p>
                        </li>
                        <li><i class="fa fa-envelope"></i>
                            <p> Correo: <a href="mailto:destudioinmobiliario@gmail.com"> destudioinmobiliario@gmail.com </a> </p>
                        </li>
                    </ul>

                </div>
                <div class="col-md-4">
                    <h2 class="foot_title">
                      Enlaces de Interés
                    </h2>
                    <ul class="foot_nav">
                      <li> <%= link_to 'Home', root_path %> </li>
                      <li> <%= link_to 'Propiedades', properties_for_web_path %> </li>
                      <li> <%= link_to 'Inversiones', root_path(anchor: 'investments') %> </li>
                      <li> <%= link_to 'Contacto', contact_path %> </li>
                      <li> <%= link_to 'Panel de administración', properties_path %> </li>
                    </ul>

                </div>

            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->

    </div>
</footer>
