<section id="investments">
    <div class="container">
        <div class="row">
            <div class="titl_sec">
                <div class="col-xs-6">
                    <h3 class="main_titl text-left">
                      Inversiones
                    </h3>
                </div>
                <div class="clearfix"></div>
            </div>

            <% presenter.investments(3).each do |investment| %>
              <% investment = investment.decorate %>
              <div class="col-md-4">
                  <div class="panel panel-default">
                      <div class="panel-image">
                        <%= image_tag investment.first_photo_url('370x255'), class: 'img-responsive img-hover' %>
                        <div class="img_hov_eff">
                          <%= link_to 'Ver más detalles', investment_details_path(id: investment.id), class: 'btn btn-default btn_trans' %>
                        </div>
                      </div>
                      <div class="panel-body">
                        <h3 class="sec_titl text-center">
                          <%= link_to investment.title, investment_details_path(id: investment.id) %>
                        </h3>

                        <p class="sec_desc text-center" style="min-height: 0">
                          <%= link_to investment.address %>
                        </p>
                        <p class="sec_desc">
                          <%= investment.details.truncate(85) %>
                        </p>
                      </div>
                  </div>
              </div>
            <% end %>

        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>
