<% property = property.decorate %>
<div class="col-md-4">
    <div class="panel panel-default">
        <div class="panel-image">
            <%= image_tag property.first_photo_url('370x240'), class: 'img-responsive img-hover' %>
            <div class="img_hov_eff">
              <%= link_to 'Ver más detalles', property_details_path(id: property.id), class: 'btn btn-default btn_trans' %>
            </div>

        </div>
        <div class="sal_labl">
            <%= property.kind.capitalize %>
        </div>

        <div class="panel-body">
            <div class="prop_feat">
              <p class="area">
                <i class="fa fa-home"></i> <%= property.total_area %>
              </p>
              <p class="bedrom">
                <i class="fa fa-bed"></i> <%= property.number_of_bedrooms %> Dormitorios
              </p>
              <p class="bedrom">
                <i class="fa fa-child"></i> <%= property.number_of_bathrooms %> Baños
              </p>
            </div>
            <h3 class="sec_titl">
              <%= property.title.truncate(35) %><br>
              <small> <%= property.status %> </small>
              •
              <small> <%= property.complete_address %> </small>
            </h3>

            <p class="sec_desc">
              <%= property.description.truncate(85) %>
            </p>
            <div class="panel_bottom">
                <div class="col-md-6">
                  <p class="price text-left">
                    <%= property.public_price %>
                  </p>
                </div>
                <div class="col-md-6">
                  <p class="readmore text-right">
                    <%= link_to 'Ver más detalles', property_details_path(id: property.id) %>
                  </p>
                </div>
            </div>
        </div>
    </div>
</div>
