<div class="srch_frm">
    <h3>Búsqueda de Propiedades</h3>
    <%= form_for @presenter.filter, url: properties_for_web_path, method: :get do |f| %>
        <div class="control-group form-group">
            <div class="controls">
                <label>Descripción</label>
                <%= f.text_field :description, class: 'form-control',
                  placeholder: 'Ingresa la descripción a buscar' %>
                <p class="help-block"></p>
            </div>
        </div>
        <div class="control-group form-group">
            <div class="controls">
                <label>Ubicación </label>
                <%= f.select :city_id, options_from_collection_for_select(@presenter.cities, "id", "name"),
                  {prompt: 'Todas'}, class: 'form-control'  %>
            </div>
        </div>
        <div class="control-group form-group">
            <div class="controls col-md-6 first">
                <label>Rubro </label>
                <%= f.select :property_kind,
                  options_for_select(Property.property_kinds.map { |k, v| [k.humanize.capitalize, k]}),
                  {prompt: 'Todos'}, class: 'form-control' %>
            </div>
            <div class="controls col-md-6">
                <label>Categoría </label>
                <%= f.select :kind,
                  options_for_select(Property.kinds.map { |k, v| [k.humanize.capitalize, k]}),
                  {prompt: 'Todos'}, class: 'form-control' %>
            </div>
            <div class="clearfix"></div>
        </div>

        <div class="control-group form-group">
            <div class="controls col-md-6 first">
                <label>Precio Min. </label>
                <%= f.number_field :price_from, class: 'form-control', placeholder: 'Precio mín.' %>
            </div>
            <div class="controls col-md-6">
                <label> Precio Max. </label>
                <%= f.number_field :price_to, class: 'form-control', placeholder: 'Precio max.' %>
            </div>
            <div class="clearfix"></div>
        </div>

        <div class="control-group form-group">
            <div class="controls col-md-6 first">
                <label> Apto Banco </label>
                <%= f.select :bankable,
                  options_for_select([['Todos', '0'],['Solo apto banco', '1']]),
                  {prompt: '--'}, class: 'form-control' %>
            </div>
            <div class="controls col-md-6">
                <label> Cant. Ambientes </label>
                <%= f.select :number_of_bedrooms,
                  options_for_select([['Monoambiente', 1],['1 dormitorio', '1'], ['2 dormitorios', '2'],['Más de 2 dormitorios', '3']]),
                  {prompt: '--'}, class: 'form-control' %>
            </div>
            <div class="clearfix"></div>
        </div>

        <div id="success"></div>
        <!-- For success/fail messages -->
        <button type="submit" class="btn btn-primary">Buscar</button>
      <% end %>
</div>
