<%= form_for @presenter.filter, url: [:investments], method: :get do |f| %>

  <fieldset class="form-group">
    <div class="row">
      <div class="col-md-3">
        <%= f.label :id %>
        <%= f.search_field :id, class: 'form-control',
              placeholder: 'Ingrese el id',
              autofocus: true %>
      </div>
    
      <div class="col-md-3">
        <%= f.label :title %>
        <%= f.search_field :title, class: 'form-control',
              placeholder: 'Ingrese un título' %>
      </div>
    
      <div class="col-md-4">
        <%= f.label :address %>
        <%= f.search_field :address, class: 'form-control',
              placeholder: 'Ingrese una dirección' %>
      </div>
      
      <div class="col-md-2">
        <div class="fake-label"></div>
        <%= link_to 'Limpiar', [:investments], class: 'btn btn-default',
              'data-disable-with' => 'Espere...' %>
        <%= f.submit 'Filtrar', class: 'btn btn-primary',
              'data-disable-with' => 'Filtrando...' %>
      </div>
    </div>
  </fieldset>

<% end %>
