<div class="box box-primary">

  <div class="box-header with-border">
    <h3 class="box-title">
      <span class="fa fa-home"></span>
      Características
    </h3>
  </div>

  <div class="box-body">
    <div class="row">      
      <div class="col-md-offset-1 col-md-11">
        <fieldset class="form-group">
          <%= f.check_box :has_parking, {class: 'inline-check-box'}, true, false %> 
          <%= f.label :has_parking, 'Posee estacionamiento' %>
        </fieldset>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <fieldset class="form-group">
          <select class="select form-control" multiple="multiple" name="property[property_feature_ids][]">
            <option value=""></option>
            <% for feature in Feature.all %>
              <% selected = (f.object.property_features.include?(feature) ? "selected='selected'" : '') %>
              <option value="<%= feature.id %>"  <%= selected %> ><%= feature.name %> </option>
            <% end %>
          </select>
        </fieldset>
      </div>
    </div>
  </div>
</div>

