<div class="box box-primary">

  <div class="box-header with-border">
    <h3 class="box-title">
      <span class="fa fa-home"></span>
      Información General
    </h3>
  </div>

  <div class="box-body">

    <div class="row">
      <div class="col-md-6">
        <fieldset class="form-group">
          <%= f.label :kind %>
          <%= f.select :kind,
            options_for_select(Property.kinds.map { |k, v| [k.humanize.capitalize, k]}),
                  class: 'form-control', required: true, autofocus: true %>
        </fieldset>
      </div>
      
      <div class="col-md-6">
        <fieldset class="form-group">
          <%= f.label :property_kind %>
          <%= f.select :property_kind,
            options_for_select(Property.property_kinds.map { |k, v| [k.humanize.capitalize, k]}),
                  class: 'form-control', required: true %>
        </fieldset>
      </div>
    </div>
    
    <div class="row">
      <div class="col-md-6">
        <fieldset class="form-group">
          <%= f.label :status %>
          <%= f.select :status,
            options_for_select(Property.statuses.map { |k, v| [k.humanize.capitalize, k]}),
                  class: 'form-control', required: true %>
        </fieldset>
      </div>

      <div class="col-md-6">
        <fieldset class="form-group">
          <%= f.label :property_status %>
          <%= f.select :property_status,
            options_for_select(Property.property_statuses.map { |k, v| [k.humanize.capitalize, k]}),
                  class: 'form-control', required: true %>
        </fieldset>
      </div>
    </div>
    
    <!-- Datos del dueño -->
      <div class="row">
        <div class="col-md-10">
          <fieldset class="form-group">
            <%= f.label :owner_id %>
            <%= f.hidden_field :owner_id, class: 'select2', required: true,
              data: { behavior: 'searchOwner', url: search_owners_path, 
                      'record-id' => f.object.owner.try(:id),
                      'record-text' => f.object.try(:to_s) } %>
          </fieldset>
        </div>
        <div class="col-md-2">
          <div class="form-group">
            <div class="fake-label"></div>
            <%= link_to 'Nuevo', new_owner_path(modal: true), class: 'btn btn-primary',
              data: { behavior: 'ajax-modal', target: '#js-modal' } %>
          </div>
        </div>
      </div>


    <!-- Ubicación -->
    <div class="row">
      <div class="col-md-8">
        <fieldset class="form-group">
          <%= f.label :address %>
          <%= f.text_field :address, class: 'form-control', required: true %>
        </fieldset>
      </div>
      
      <div class="col-md-4">
        <fieldset class="form-group">
          <%= f.label :city_id %>
          <%= f.select :city_id,
            options_for_select(City.all.map { |c| [c.name, c.id]}),
                  class: 'form-control', required: true %>
        </fieldset>
      </div>
    </div>
    
    <div class="row">
      <div class="col-md-12">
        <fieldset class="form-group">
          <%= optional_label f, :description %>
          <%= f.text_area :description, class: 'form-control' %>
        </fieldset>
      </div>
    </div>

  </div>
</div>
