<div class="row">
  <div class="col-md-9">

    <%= form_for @user do |f| %>

    <article class="box box-primary">

      <section class="box-body">

        <div class="row">
          <div class="col-md-6">
            <fieldset class="form-group">
              <%= f.label :name %>
              <%= f.text_field :name, class: 'form-control', required: true %>
            </fieldset>
          </div>

          <div class="col-md-6">
            <fieldset class="form-group">
              <%= f.label :email %>
              <%= f.email_field :email, class: 'form-control', required: true %>
            </fieldset>
          </div>
        </div>

        <% if is?(:admin) %>
          <div class="row">
            <div class="col-md-4">
              <fieldset class="form-group">
                <%= f.label :role %>
                <%= f.select :role,
                      User.roles.keys.map { |r| [t("user_roles.#{r}"), r] },
                      class: 'form-control'%>
              </fieldset>
            </div>
          </div>
        <% end %>

        <div class="row">
          <div class="col-md-6">
            <fieldset class="form-group">
              <%= f.label :password %>
              <%= f.password_field :password, class: 'form-control' %>
              <p class="help-block">(*) Completar sólo si querés modificar la clave</p>
            </fieldset>
          </div>

          <div class="col-md-6">
            <fieldset class="form-group">
              <%= f.label :password_confirmation %>
              <%= f.password_field :password_confirmation, class: 'form-control' %>
            </fieldset>
          </div>
        </div>

      </section>

    </article>

      <div class="actions">
        <%= f.submit 'Guardar', class: 'btn btn-success', data: { 'disable-with' => 'Guardando...' } %>
      </div>
    <% end %>

  </div>
</div>
