<tr id="<%= dom_id(property) %>">
  <td> <%= link_to property.id, property %> </td>
  <td> <%= property.title %> </td>
  <td> <%= property.address %> </td>
  <td> <%= property.city %> </td>
  <td align="right"> <%= property.built_area %> </td>
  <td align="right"> <%= property.total_area %> </td>
  <td align="right"> <%= property.price %> </td>
  <td> <%= property.agent.name %> </td>
  <td>
    <%= link_to [property, format: 'pdf'], class: 'btn btn-xs btn-info' do %>
      <i class="fa fa-file-pdf-o"></i>
    <% end %>

    <% if is?(:admin) || property.user == current_user %>
      <%= link_to [:edit, property], class: 'btn btn-xs btn-primary' do %>
        <i class="fa fa-pencil"></i>
      <% end %>
      <%= link_to property, method: :delete, data: {confirm: '¿Está seguro?'},
        class: 'btn btn-xs btn-danger' do %>
        <i class="fa fa-trash"></i>
      <% end %>
    <% end %>
  </td>

</tr>

