<tr id="<%= dom_id(property) %>">
  <td> <%= link_to property.id, [:edit, property] %> </td>
  <td> <%= property.address %> </td>
  <td> <%= property.city %> </td>
  <td> <%= property.built_area %> </td>
  <td> <%= property.total_area %> </td>
  <td> <%= property.agent.full_name %> </td>
  <td>
    <%= link_to 'Editar', [:edit, property], class: 'btn btn-xs btn-primary' %>
    <%= link_to 'Eliminar', property, method: :delete,
        data: {confirm: '¿Está seguro?'}, class: 'btn btn-xs btn-danger' %>
  </td>

</tr>

