<header class="content-header">
  <%= link_to 'Nueva propiedad', [:new, :property], class: 'btn btn-primary pull-right' %>
  <h1>Propiedad</h1>
</header>

<section class="content">

  <article class="box box-primary">
    <section class="box-body">

      <%= render 'filter' %>

      <table class="table table-custom table-hover">
        <thead>
          <tr>
            <th>#ID</th>
            <th>Título</th>
            <th>Dirección</th>
            <th>Ciudad</th>
            <th>Sup. Cubierta</th>
            <th>Sup. Total</th>
            <th>Precio</th>
            <th>Agente</th>
          </tr>
        </thead>

        <tbody>
          <%= render @presenter.properties %>
        </tbody>
      </table>

      <%= paginate @presenter.properties %>

      <%= content_tag :p, 'No se encontraron propiedades', class: 'text-center' unless @presenter.properties.any? %>

    </section>
  </article>

</section>
