<li id="<%= dom_id(photo) %>" data-id="<%= photo.id %>" class="col-xs-2 item text-center" style="cursor:move">
  <% if /image/ =~ photo.file.mime_type %>
    <%= image_tag(photo.file.thumb('200x200#').url, class: 'img-thumbnail') %>
  <% else %>
    <%= image_tag("http://placehold.it/150x150/3c8dbc/ffffff&amp;text=#{photo.file.name}",
                    class: 'img-thumbnail') %>
  <% end %>
  <div class="photo-actions">
    <%= link_to icon('external-link'), photo.file.url, class: 'btn btn-xs btn-primary',
           target: :blank %>
    <%= link_to icon('trash'), photo, method: :delete, class: 'btn btn-xs btn-danger',
      data: { confirm: '¿Seguro?', 'disable-with' => 'eliminando' }, remote: true  %>
  </div>

</li>

