<aside class="main-sidebar">
  <section class="sidebar">

    <ul class="sidebar-menu">

        <%= side_link text: 'Inicio', path: root_path, icon_class: 'square' %>

        <%= side_link text: 'Propiedades', path: [:properties], icon_class: 'home' %>

        <%= side_link text: 'Propietarios', path: [:owners], icon_class: 'user' %>

        <%= side_link text: 'Inversiones', path: [:investments], icon_class: 'building-o' %>

        <%= side_link text: 'Características', path: [:features], icon_class: 'hashtag' %>

        <%= side_link text: 'Ciudades', path: [:cities], icon_class: 'map-marker' %>

        <% if is?(:admin) %>
          <li class="treeview">
            <a href="#">
              <i class="fa fa-fw fa-lock"></i> <span>Administración</span> <i class="fa fa-fw fa-angle-left pull-right"></i>
            </a>
            <ul class="treeview-menu menu-open">
              <%= side_link text: 'Usuarios', path: users_path %>
            </ul>                                                                                                                 |~
          </li>
        <% end %>

    </ul>

  </section>
</aside>
