<aside class="main-sidebar">
  <section class="sidebar">

    <ul class="sidebar-menu">

        <%= side_link text: 'Inicio', path: root_path, icon_class: 'square' %>
        
        <%= side_link text: 'Propiedades', path: [:properties], icon_class: 'home' %>
        
        <%= side_link text: 'Propietarios (no iría)', path: [:owners], icon_class: 'user' %>
        
        <%= side_link text: 'Características', path: [:features], icon_class: 'hashtag' %>

        <%= side_link text: 'Ciudades', path: [:cities], icon_class: 'map-marker' %>

    </ul>

  </section>
</aside>
